.dayentry {
    position: relative;
    height: 100vh;
    width: 100%;
}

.dayentry__wrapper {
    position: absolute;
    width: calc(720/16) * 1rem;
    max-width: 100%;
    padding: calc(32/16) * 1rem;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dayentry__author {
    font-weight: 600;
}

.dayentry__quote {
    margin-top: calc(16/16) * 1rem;
}