@use './reset';
@use './dayentry';
@use './navigation';

:root {
  --sand: #fffcea;
  --ocean: #0f4f8f;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--sand);
  color: var(--ocean);
}
