@use './reset';
@use './dayentry';
@use './navigation';
@use './stats';

:root {
  --sand: #fffcea;
  --sand-fade: #fffcea66;
  --ocean: #0f4f8f;
  --ocean-fade: #0f4f8f66;
  --ocean-shade: #0f4f8fe0;
}

body {
  position: relative;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--sand);
  color: var(--ocean);

  @media screen and (max-width: 768px) {
    font-size: 0.85em;
  }
}
