@use './utils' as utils;

.navigation {
  display: flex;
  position: fixed;
  height: 100vh;
  width: utils.rem(40);
  top: 0;
  right: 0;
  z-index: 100;
  align-items: center;
}

.navigation__list {
  display: block;
}

.navigation__button {
  display: block;
  font-size: utils.rem(24);
  line-height: utils.rem(24);
  padding: utils.rem(6);
  text-align: center;
  text-decoration: none;
  width: utils.rem(36);
  height: utils.rem(36);
  background-color: var(--ocean-fade);
  color: var(--ocean);
  border-radius: utils.rem(8);

  &--like {
    font-size: utils.rem(20);
  }

  &--hidden {
    display: none;
  }

  & + .navigation__button {
    margin-top: utils.rem(5);
  }
}

.navigation__arrow {
  text-decoration: none;

  &--prompt {
    display: block;
    width: utils.rem(24);
    height: utils.rem(24);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iQ2FtYWRhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+CiAgPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDMwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDIuMS4xIEJ1aWxkIDEyMykgIC0tPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuc3QwIHsKICAgICAgICBmaWxsOiAjMGY0ZjhmOwogICAgICB9CiAgICA8L3N0eWxlPgogIDwvZGVmcz4KICA8cGF0aCBjbGFzcz0ic3QwIiBkPSJNOTAsODIuNUgxMFYxNy41aDgwdjY1Wk0xNS42LDc2Ljg2aDY4LjhWMjMuMTRIMTUuNnY1My43MloiLz4KICA8cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjI3LjIzIDY4LjEzIDIzLjI3IDY0LjE0IDM3LjYxIDQ5LjY5IDIzLjI3IDM1LjI1IDI3LjIzIDMxLjI2IDQ1LjUzIDQ5LjY5IDI3LjIzIDY4LjEzIi8+CiAgPHJlY3QgY2xhc3M9InN0MCIgeD0iNDIuNTYiIHk9IjYxLjg3IiB3aWR0aD0iMzQuMzEiIGhlaWdodD0iNS42NCIvPgo8L3N2Zz4=);
  }
}
