.stats {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--ocean-shade);
  z-index: 1000000;
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0.3s,
    opacity 0.3s;

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}
